<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <sourceServer>
      <excludedTypes>
        <type  />
      </excludedTypes>
      <excludedMediaLibraries>
        <mediaLibrary  />
      </excludedMediaLibraries>
    </sourceServer>
    <targetServer>
      <excludedChildTypes>
        <childType />
      </excludedChildTypes>
    </targetServer>
  </stagingConfiguration>
</configuration>