<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <sourceServer>
      <excludedTypes_Bad>
      </excludedTypes_Bad>
      <excludedMediaLibraries_Bad>
      </excludedMediaLibraries_Bad>
    </sourceServer>
    <targetServer>
      <excludedChildTypes_Bad>
      </excludedChildTypes_Bad>
    </targetServer>
  </stagingConfiguration>
</configuration>