<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <sourceServer_Bad>
      <excludedTypes>
      </excludedTypes>
      <excludedMediaLibraries>
      </excludedMediaLibraries>
    </sourceServer_Bad>
    <targetServer_Bad>
      <excludedChildTypes>
      </excludedChildTypes>
    </targetServer_Bad>
  </stagingConfiguration>
</configuration>