<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <sourceServer>
      <excludedTypes>
        <type_Bad />
      </excludedTypes>
      <excludedMediaLibraries>
        <mediaLibrary_Bad />
      </excludedMediaLibraries>
    </sourceServer>
    <targetServer>
      <excludedChildTypes>
        <childType_Bad/>
      </excludedChildTypes>
    </targetServer>
  </stagingConfiguration>
</configuration>