<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <excludedTypes>
      <type name=" " />
      <type name="" />
    </excludedTypes>
    <excludedChildTypes>
      <childType parentType=" " childType=" "/>
      <childType parentType="" childType=""/>
      <childType parentType="cms.user" childType=" "/>
      <childType parentType="" childType="cms.userrole"/>
    </excludedChildTypes>
    <excludedMediaLibraries>
      <mediaLibrary code=" " />
      <mediaLibrary code="" />
    </excludedMediaLibraries>
  </stagingConfiguration>
</configuration>