<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <sourceServer>
      <excludedTypes>
        <type name=" cms.form " />
      </excludedTypes>
      <excludedMediaLibraries>
        <mediaLibrary code=" emailimages " />
      </excludedMediaLibraries>
    </sourceServer>
    <targetServer>
      <excludedChildTypes>
        <childType parentType=" cms.role " childType=" cms.userrole "/>
      </excludedChildTypes>
    </targetServer>
  </stagingConfiguration>
</configuration>