<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <excludedTypes>
      <type name=" cms.form " />
    </excludedTypes>
    <excludedChildTypes>
      <childType parentType=" cms.role " childType=" cms.userrole "/>
    </excludedChildTypes>
    <excludedMediaLibraries>
      <mediaLibrary code=" emailimages " />
    </excludedMediaLibraries>
  </stagingConfiguration>
</configuration>