<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stagingConfiguration" type="KenticoCommunity.StagingConfigurationModule.Configurations.StagingConfigurationSection,KenticoCommunity.StagingConfigurationModule" />
  </configSections>
  <stagingConfiguration>
    <excludedTypes>
      <type name="cms.form" />
      <type name="cms.settingskey" />
      <type name="cms.scheduledtask" />
      <type name="cms.user" />
      <type name="cms.userculture" />
      <type name="cms.userrole" />
      <type name="cms.usersite" />
      <type name="ma.automationprocess" />
      <type name="newsletter.emailtemplatenewsletter" />
      <type name="newsletter.issue" />
      <type name="newsletter.newsletter" />
      <type name="om.contactgroup" />
      <type name="cms.category" />
    </excludedTypes>
    <excludedChildTypes>
      <childType parentType="cms.role" childType="cms.userrole"/>
    </excludedChildTypes>
    <excludedMediaLibraries>
      <mediaLibrary code="emailimages" />
      <mediaLibrary code="downloads" />
    </excludedMediaLibraries>
  </stagingConfiguration>
</configuration>